/node_modules
/public/hot
/public/tmp
/public/uploads/*
/public/.well-known
/public/.user.ini
/storage/*.key
/vendor
/docker/log/
/docker/redis/
/docker/mariadb/
/tmp
._*
.env
.env.backup
.idea
.vscode
.vagrant
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
test.*
composer.lock
package-lock.json
laravels-timer-process.pid
.DS_Store
vars.yaml
